<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a href="/" class="navbar-brand">
        Guiapress
    </a>

    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>

        <% categories.forEach(category => { %> 
            <li class="nav-item">
                <a class="nav-link" href="/category/<%= category.slug %>"><%= category.tittle %></a>
            </li>
        <% }) %> 

        
    </ul>

</nav>